@charset "UTF-8";
table > tbody > tr > td img {
    width: 100%;
    max-width: 100px;
    min-width: 100px;
}
.image_upload_preview {
    max-width: 100%;
    margin-top: 15px;
}
.box-header {
    border-bottom: 1px solid #CCC;
}
.status {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}
.status-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.status-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.status-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.hidden_form {
    display: none;
}
.table_filters {
    float: left;
    margin-right: 10px;
}
.table_filters input[type="text"]{
    float: left;
    width: 120px;
    margin-right: 3px;
}
.table_filters select{
    float: left;
    width: 150px;
    margin-right: 3px;
}


.report_table_filters {
    float: none;
}
.table_filter_wrapper {
    float: right;
}
.report_table_filter_wrapper {
    float: right;
}
@media only screen and (max-width: 1199px) {
    .report_table_filter_wrapper {
        float: none;
        margin-top: 10px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .report_table_filters input[type="text"] {
        width: 100px;
    }
}
@media only screen and (max-width: 991px) {
    .report_table_filter_wrapper {
        margin-top: 0px;
    }
    .report_table_filters input[type="text"] {
        width: 100px;
        float: none;
        display: inline-block;
        margin: 5px 2px;
    }
}
@media only screen and (max-width: 480px) {
    .table_filter_wrapper {
        float: none;
        margin-top: 10px;
    }
}
a.bd_lnk_disabled{
    display: inline-block;
    padding: 0px 15px;
    height: 34px;
    line-height: 34px;
    color: #333;
    margin: 0px 2px;
    background-color: #CCC;
}


/*********** Edited by Irshad on (02-02-2017) *************/

.login-page{
            background: base_url(img/login_bg.jpg) center no-repeat;
            background-size: cover;
            
        }
        .login-logo{
            width: 100%;
            padding: 0px 70px;
        }
        .login-logo a{
            color: #fff;
        }
        .login-logo img{
            max-width: 100%;
        }
.skin-blue .main-header .navbar{
    background: #8d191b;
    height: 50px;
}
.skin-blue .main-header .logo{
    background: #8d191b;
    height: 100px;
    padding: 10px 40px;
}
.main-header .logo .logo-mini{
    width: 100%;
}
.main-header img{
    max-width: 100%;
}
.skin-blue .main-header .logo:hover{
    background-color: #8d191b;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover{
    background-color: rgb(127, 22, 24);
}
.main-sidebar{
    top: 60px !important;
}
.main-header .logo .logo-lg{
    padding: 10px;
}
.small-box{
    height: 200px !important;
    padding: 20px 0px !important;
    background: #52595d;
    color:#fff;
}
.small-box>.small-box-footer{
    padding: 15px 0px;
    top: 31px;
}
.small-box:hover{
    background: #8d191b;
}

.content-wrapper, .right-side{
    background: base_url(img/welcome_bg.jpg) center no-repeat;
    background-size: cover;
}


@media only screen and (max-width: 767px) {
    .main-header img{
        max-width: 125px;
    }
.content-wrapper, .right-side, .main-footer{
        margin-top: 50px;
    }
}
.sidebar{ 
height: 500px !important;
overflow: auto;
}

